@import "../../../themes/base.less";

#lomaBlog-breadcrumb {
	background: @bgColor2;
	padding: 0 5rem;

	.ant-breadcrumb {
		line-height: 3rem;

		span,
		a {
			color: @color;
		}
	}
}

@media screen and (max-width: 768px) {
	#lomaBlog-breadcrumb {
		padding: 0 1rem;
	}
}
