#lomaBlog-main{
    padding-top: 6rem;
    .lomaBlog-header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .lomaBlog-body{
        padding: 20px 5%;
        height: 1800px;
    }
    .ant-back-top{
        right: 50px;
    }
}